@font-face{ font-family: 'MyWebFont'; src: url('WebFont.eot'); src: url('WebFont.eot?#iefix') format('embedded-opentype'), url('WebFont.woff') format('woff'), url('WebFont.ttf') format('truetype'), url('WebFont.svg#webfont') format('svg'); }
div,ul,li {
    margin: 0;
    padding:0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight:500;
}

h1  {   
    margin: 0 auto;
    height:254px;
    width: 883px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#pillarleft {
    float:left;
    position:absolute;
    top:0;
    left:0;
    width:249px;
    height:1748px;
}

#pillarright {
    float:right;
    position:absolute;
    top:0;
    right:0;
    width:249px;
    height:1748px;
}

#arenaArea {
    width: 1208px;
    margin: 0 auto;
}


/* TIMER OPTIONS  All timer items are here */
#timerWrapper {
	width:1080px;
	margin:0 auto;
    margin-top:100px;
   
}

.score {
     font-family: '300_trojansregular';
    font-size:70px;
    font-weight: 700;
    line-height: 47px;
    float:left;
}

#countWrap {
    width:60px;
    float:left;
}

#countdown {
    font-family: '300_trojansregular';
    font-size:70px;
    font-weight: 700;
    line-height: 60px;

}

#scoreItems{
    margin-left: 150px;
    float: left;
    list-style-type: none;
    padding-left: 0;
}
#scoreItems li{
    float: left;
    
}
#scoreItems h2{
    font-family: '300_trojansregular';
    font-size:70px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    margin: 0 20px;
    float: left;
    
}

#timerItems {
    height:64px;
    margin-left: 50px;
    list-style-type: none;
    float:left;
}
 
#timerItems li {
    margin-left: 15px;
    float: left;
}

ul#timerItems li i {
    width:70px;
     
} 

#meatTypes{
    content: '';
    float: left;
    height:64px;
    width:200px;
    background: url(../assets/meats3types.png);
    background-size: auto;
    background-repeat: no-repeat;
}



/* GAME DIRECTIONS ITEMS */


#gameInfo {
    width:1000px;
    height:380px;
    margin:0 auto;
    background-color: rgba(27, 20, 100, .2);
    border-radius: 5px;
}

#arrowInstruction {
    margin: 0 auto;
    width:730px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 35px;
}

.greekTxt {
  font-family: '300_trojansregular';
    font-size: 40px;
}

#gameInfo ul {
    list-style-type: none;
    display:block;
    width: 930px;
    height:64px;
    padding:0;
    margin:0 auto;
}


#gameInfo ul li:nth-child(1) {
    width:192px;
    float:left;
    margin-right: 100px;
}

#gameInfo ul li:nth-child(2) {
    width:900px;
}

/*SPIKED WALLS AROUND CANVAS*/

.spikesHoriz {
    width:1080px;
    height:64px;
    margin: 0 auto;
}

.spikesVert {
    width:64px;
    height:600px;
    display: inline;
}
#topSpikes {
    width: 1080px;
    height: 64px;
}

#botSpikes {
     width: 1080px;
    height: 64px;
}

#leftSpikes {
    width:64px;
    height:600px;
    float:left;
}

#rightSpikes {
    width:64px;
    height:600px;
    position: absolute;
}



/* GAME CANVAS */
#appCanvas {
    display: inline;
    margin: 0 auto; 
    background: url(../assets/floor2.jpg);
}

.gameWindow {
    /* Wrapping a class that has an absolute position
       with one that is relative helps control where the
       absolute position starts */
    position:relative;
    margin: 0 auto;
}



.gameOverSuccess {
    display:block;
    font-family: '300_trojansregular';
    font-size: 72px;
    font-weight: 700;
    color: rgba(27, 20, 100, 1);
    position: absolute;           
    top:220px;
    left: 390px;           
    /* update these 2 lines to match appCanvas to keep centered */  
    width: 400px;
    height: 200px;       
    line-height: 200px; 
    text-align: center;         
    -webkit-transition: all 1s;
    transition: all 1s;
    border-radius: 5px;
}

.reveal {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(27, 20, 100, 1);
}

.volume {
    padding-left: 50px;
    float: left;
    list-style-type: none
}
.volume li {

   display: inline-block;
}

.volume div {
    content: '';
    height: 64px;
    width: 64px;
}

#volUp {
    background: url(../assets/volUp.png) no-repeat center;
    background-size :auto ;
}

#volDown {
    background: url(../assets/volDown.png) no-repeat center;
    background-size :auto;
}

#mute {
    background: url(../assets/mute.png) no-repeat center;
    background-size :auto;
    opacity: 0.5;
